body {
  overflow: hidden;
}

.full-height {
  min-height: 100vh; /* Full viewport height */
}

.row-margin {
  margin-top: auto;
  margin-bottom: auto;
}

.transition-width {
  flex-grow: 1;
  transition: all 400ms ease;
}

.navbar {
  height: 5vh;
}

.align-self-centre-vertical {
  margin-top: 15%;
  margin-bottom: 15%;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.bg-secondary {
  background-color: #6dd3f7 !important;
}

.bg-menu {
  background-color: #d2d4d2;
}

.rounded {
  border-radius: 10px !important;
}

.max {
  width: 100%;
  height: 100%;
}

#tooltip {
  width: 200px;
  text-align: center;
}

/* Styles for the loader overlay */
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above other content */
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#DDD 50px, transparent 0),
  linear-gradient(#DDD 50px, transparent 0),
  linear-gradient(#DDD 50px, transparent 0),
  linear-gradient(#DDD 50px, transparent 0),
  linear-gradient(#DDD 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 2s linear infinite;
  transform: scale(1.25);
}
.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  background: #6DD100;
  border-radius: 50%;
  animation: ballStepUp 2s linear infinite;
}

@keyframes pillerPushUp {
  0% , 40% , 100%{background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px}
  50% ,  90% {background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px}
}

@keyframes ballStepUp {
  0% {transform: translate(0, 0)}
  5% {transform: translate(8px, -14px)}
  10% {transform: translate(15px, -10px)}
  17% {transform: translate(23px, -24px)}
  20% {transform: translate(30px, -20px)}
  27% {transform: translate(38px, -34px)}
  30% {transform: translate(45px, -30px)}
  37% {transform: translate(53px, -44px)}
  40% {transform: translate(60px, -40px)}
  50% {transform: translate(60px, 0)}
  57% {transform: translate(53px, -14px)}
  60% {transform: translate(45px, -10px)}
  67% {transform: translate(37px, -24px)}
  70% {transform: translate(30px, -20px)}
  77% {transform: translate(22px, -34px)}
  80% {transform: translate(15px, -30px)}
  87% {transform: translate(7px, -44px)}
  90% {transform: translate(0, -40px)}
  100% {transform: translate(0, 0);}
}

.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  content: "";
  position: absolute;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list .items li {
  list-style: none;
}









.navbar {
  background-color: #007bff;
  /* Bright blue */
}

.navbar {
  margin-left: auto;
}

.navbar .nav-link {
  color: #fff;
}

.navbar-brand {
  padding-left: 30px;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Little styling bar chart */
#order-select {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#bar-chart-container {
  display: flex;
  justify-content: center;
}

#bar-chart-2 {
  display: flex;
  justify-content: center;
}

.map-chart {
  display: flex;
  justify-content: center;
}

.red-square {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}

.orange-square {
  width: 150px;
  height: 150px;
  background-color: orange;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.map-chart-container {
  min-height: 500px;
}

/*#map-chart-container {*/
/*  box-sizing: border-box;*/
/*  background-color: #6dd3f7;*/
/*  position: relative; !* This makes the positioning of the button relative to the map container *!*/
/*  */
/*}*/

#map-chart-container {
  --mask: linear-gradient(to right, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 95%,  rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0) 100% 10% / 100% 100% repeat-x;

  background-color: #6dd3f7;
  position: relative;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


#mapToggleBar {
  z-index: 10; /* This ensures the button is above the map */
}

#mapToggleContent{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.irs-bar {
  height: 4px !important;
  top: 18px !important;
}
.irs-line {
  height: 4px !important;
  top: 18px !important;
}
.irs-handle {
  height: 8px !important;
  top: 15px !important;
}
.irs-from, .irs-to, .irs-max, .irs-min, .irs-single {
  line-height: 1.1 !important;
}

.crime-dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  z-index: 1000; /* Ensure it's above other elements */
}
