.navbar {
  background-color: #007bff;
  /* Bright blue */
}

.navbar {
  margin-left: auto;
}

.navbar .nav-link {
  color: #fff;
}

.container{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Little styling bar chart */
#order-select {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#bar-chart-container {
  display: flex;
  justify-content: center;
}

#bar-chart-2 {
  display: flex;
  justify-content: center;
}

.map-chart { 
  display: flex;
  justify-content: center;
}

.red-square {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}

.orange-square {
  width: 150px;
  height: 150px;
  background-color: orange;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}